In [1]:
import pandas as pd

In [4]:
data = {
    "resume" : [
        "Experienced python developer skilled in AI, ML, and Flask.",
        "Data analyst with experience in Excel, SQL, and Power BI",
        "Frontend engineer with React, HTML, CSS and UI design experience."
    ]
}

df = pd.DataFrame(data)
df

                                              resume
0  Experienced python developer skilled in AI, ML...
1  Data analyst with experience in Excel, SQL, an...
2  Frontend engineer with React, HTML, CSS and UI...

In [8]:
skills = ["python", "ai", "ml", "flask", "sql", "excel", "react", "html", "css", "power bi", "ui design"]

In [9]:
def extractSkills(text):
    found = []
    textLower = text.lower()
    for skill in skills:
        if(skill in textLower):
            found.append(skill)
    return found

In [10]:
df['skillsFound'] = df['resume'].apply(extractSkills)

df

,resume,skillsFound
0,"Experienced python developer skilled in AI, ML...","[python, ai, ml, flask]"
1,"Data analyst with experience in Excel, SQL, an...","[sql, excel, power bi]"
2,"Frontend engineer with React, HTML, CSS and UI...","[ml, react, html, css, ui design]"

In [12]:
df['score'] = df['skillsFound'].apply(lambda x: len(x))
df.sort_values(by='score', ascending=False)

,resume,skillsFound,score
2,"Frontend engineer with React, HTML, CSS and UI...","[ml, react, html, css, ui design]",5
0,"Experienced python developer skilled in AI, ML...","[python, ai, ml, flask]",4
1,"Data analyst with experience in Excel, SQL, an...","[sql, excel, power bi]",3